/* Color Palette
Background: -
Text: -
Light Relative: #24acb6
Base Color: -
Dark Relative: -
*/

/* ------------------------------------- */
/* Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    background-color: #084857;
    font-family: 'Open Sans', sans-serif;
    background: url("https://i.imgur.com/1TFBa3P.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #252525;
}

body {
    height: 100%;
}

/* HEADER FONT */
@font-face {
    font-family: 'HeaderFont'; /*a name to be used later*/
    src: url('fonts/aileron.black.otf'); /*URL to font*/
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
}

header {
    padding-top: 150px;
}

.main-header {
    padding-bottom: 50px;
}

header h1 {
    text-rendering: auto;
    margin: 0;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.54);
    font-size: 36px;
    color: #E3E3E3;
    text-align: center;
}

#sub-header {
    font-size: 36px;
    color: rgb(130, 194, 233);
}

footer {
    height: 100px;
    width: 100%;
    overflow:hidden;
    background-color: rgba(13, 22, 32, 1);
    box-shadow:0 0 10px #101010;
}

footer p {
    margin-top: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 12px;
}

footer p a {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer p a:hover {
    transition: color 0.3s ease;
    color: #24acb6;
}

a:-webkit-any-link {
    text-decoration: none;
}

.main-nav {
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(13, 22, 32, 1);
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    height: 50px;
    margin-bottom: 50px;
}

.main-nav a {
    font-weight: bold;  
    color: rgb(255, 255, 255);
    padding: 13px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.icon-group {
    text-align: center;
    padding-top: 40px;
}

.icon-group a {
    padding: 10px;
}

.icon {
    padding: 5px;
}

.icon i {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    transition: color 0.2s ease;
}

.icon i:hover {
    transition: color 0.3s ease;
    color: #1d868d;
}

/* ------------------------------------- */
/* LANDING PAGE */
/* ------------------------------------- */

.landing-page p {
    padding: 30px;
    font-size: 14px;
}

.landing-page h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.header-btn {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.5s ease;
    margin-bottom: 50px;
}

.header-btn:hover {
    cursor: pointer;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.5s ease;
}

.fa-arrow-down {
    position: relative;
    left: 20px;
    animation: jump 0.5s ease infinite;
    animation-fill-mode: forwards;
}

#main-circle {
    color: #131313;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 30%;
    transition: color 0.3s, font-size 0.2s, margin-top 0.2s;
}

.circle {
    margin: 0 auto;
	width: 80px;
	height: 80px;
    background: rgb(255, 255, 255);
    border: 3px solid white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    transition: background 0.3s;
}

.circle:hover {
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s;
    cursor: pointer;
}

.circle:hover > #main-circle {
    color: rgb(255, 255, 255);
    font-size: 38px;
    margin-top: 25%;
    transition: color 0.3s, font-size 0.2s, margin-top 0.2s;
}


/* ------------------------------------- */
/* ABOUT PAGE */
/* ------------------------------------- */

.about-page {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 0 10px #101010;
    margin-top: 250px;
}

.about-page p {
    opacity: 0;
    font-size: 14px;
    padding-bottom: 10px;
    color: rgb(219, 219, 219);
}

.about-page h2 {
    text-align: center;
    opacity: 0;
    font-size: 22px;
    padding-bottom: 2px;
    color: rgb(219, 219, 219)
}

.about-page a {
    color: #24acb6;
}

.sub-line {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 1px;
    width: 100px;
    color: white;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255,255,255, 1) 90%);
}

.about-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgba(13, 22, 32, 1);
}

.img-container {
    opacity: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-container img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid white;
    filter: grayscale(20%) brightness(110%);
}

/* ------------------------------------- */
/* TECH PAGE */
/* ------------------------------------- */

.tech-page {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 0 10px #101010;
}

.tech-page p {
    opacity: 0;
    font-size: 14px;
    padding-bottom: 35px;
    color: rgb(26, 33, 49);
}

.tech-page h2 {
    opacity: 0;
    text-align: center;
    font-size: 22px;
    padding-bottom: 2px;
    color: rgb(26, 33, 49);
}

.tech-page .sub-line {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 1px;
    width: 52px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
}

.tech-page hr {
    display: none;
}

.tech-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgb(219, 219, 219);
}

.tech-item {
    bottom: 50px;
    text-align: center;
    padding-bottom: 10px;
    opacity: 0;
}

.tech-items i {
    color: rgba(13, 22, 32, 1);
    font-size: 85px;
}

.tech-items p {
    text-align: center;
    font-weight: bold;
}

/* ------------------------------------- */
/* PROJECTS PAGE */
/* ------------------------------------- */

.projects-page {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 0 10px #101010;
}

.projects-page p {
    font-size: 14px;
    padding-bottom: 10px;
    color: rgb(219, 219, 219);
}

.projects-page h2 {
    text-align: center;
    font-size: 22px;
    padding-bottom: 2px;
    color: rgb(219, 219, 219);
}

.projects-page .sub-line {
    margin-bottom: 10px;
    width: 160px;
}

.projects-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgba(13, 22, 32, 1);
}

.project-sub-container-1 {
    opacity: 0;
}

.project-sub-container-2 {
    opacity: 0;
}

.project-item {
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    text-align: center;
}

.project-item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-sidebar a {
    padding-top: 11px;
    cursor: pointer;
    position: block;
    z-index: 90;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 38%;
    height: 45px;
    border: 2px solid white;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.project-sidebar a:hover {
    cursor: pointer;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.project-sidebar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-top: 0;
    text-align: center;
    padding: 10px;
}

.project-sidebar h3 {
    font-size: 18px;
    color: rgb(219, 219, 219);
}

.project-sidebar .desc {
    padding: 12px;
    font-size: 12px;
    color: rgb(219, 219, 219);
}

.project-sidebar .tech {
    font-size: 12px;
    color: rgb(219, 219, 219);
}

#item-btn-1 {
    bottom: 40px;
}

#item-btn-2 {
    bottom: 25px;
}

#item-btn-3 {
    bottom: 15px;
}

#item-img-1 {
    filter: grayscale(25%) brightness(80%);
    transition: filter 0.3s, transform 0.3s;
}

#item-img-2 {
    filter: grayscale(25%) brightness(80%);
    transition: filter 0.3s, transform 0.3s;
}

#item-img-3 {
    filter: grayscale(25%) brightness(60%);
    transition: filter 0.3s, transform 0.3s;
}

#item-img-4 {
    filter: grayscale(25%) brightness(20%) blur(5px);
    transition: filter 0.3s, transform 0.3s;
}

/* ------------------------------------- */
/* CONTACT PAGE */
/* ------------------------------------- */

.contact-page {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    box-shadow:0 0 10px #101010;
}

.contact-page p {
    font-size: 14px;
    padding-bottom: 35px;
    color: rgb(26, 33, 49);
}

.contact-page h2 {
    opacity: 0;
    text-align: center;
    font-size: 22px;
    padding-bottom: 2px;
    color: rgb(26, 33, 49);
}

.contact-page .sub-line {
    margin-bottom: 20px;
    width: 118px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
}

.contact-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgb(219, 219, 219);
}

.contact-inline-container {
    text-align: center;
    padding: 40px;
    width: 100%;
    height: 200px;
    border: 1px solid rgba(88, 88, 88, 0.445);
    border-radius: 3px;
    background-color: rgb(211, 211, 211);
    box-shadow: inset 0 0 20px #10101048;
}

.contact-inline-container h3 {
    opacity: 0;
    color: rgb(26, 33, 49);
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-inline-container p {
    opacity: 0;
    color: rgb(26, 33, 49);
    padding-bottom: 5px;
    font-size: 16px;
}

.contact-inline-container a {
    color: #15676d;
    transition: color 0.3s;
}

.contact-inline-container a:hover {
    color: #24acb6;
    transition: color 0.3s;
}

/* ------------------------------------- */
/* ANIMATION */
/* ------------------------------------- */

@keyframes jump {
    0% {
        bottom: 2px;
    }
    50% {
        bottom: 0;
    }
    100% {
        bottom: 2px;
    }
}

@keyframes colorChange {
    0% {
        color: rgb(219, 219, 219);
    }
    50% {
        color: #24acb6;
    }
    100% {
        color: rgb(219, 219, 219);
    }
}

.main-nav.down {
    height: 50px;
    transition: height 0.3s;
}

.main-nav a.text-down {
    padding: 17px 10px;
    transition: padding 0.3s, color 0.3s ease;
}

.main-nav a.active {
    color: #24acb6;
    -webkit-transition: color 0.3s;
    transition: color 0.3s ease;
}

.about-page .sub-line, .tech-page .sub-line, .projects-page .sub-line, .contact-page .sub-line{
    opacity: 0;
}

/* ------------------------------------- */
/* Media Queries */
/* ------------------------------------- */

/*iPhone portrait*/
@media only screen and (min-width: 320px) {
}


/*iPhone landscape*/
@media only screen and (min-width: 480px) {

}


/*iPad potrait*/
@media only screen and (min-width: 768px) {

}

/*iPad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    html {
        position: relative;
        min-height: 100%;
        background-color: #084857;
        font-family: 'Open Sans', sans-serif;
        background-image: -webkit-linear-gradient(left, 
        rgba(0,0,0,0.2) 0%, 
        rgba(0,0,0,0) 50%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0,0,0,0.2) 100%),
         url("https://i.imgur.com/Y74AAPl.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-color: #252525;
    }

    footer {
        display: block;
        height: 100px;
        width: 100%;
        overflow:hidden;
        background-color: rgba(13, 22, 32, 1);
        box-shadow:0 0 10px #101010;
    }

    header {
        padding-top: 80px;
    }
    
    header h1 {
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.54);
        font-size: 54px;
        color: #E3E3E3;
        text-align: center;
    }
    
    .main-nav {
        z-index: 99;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        height: 80px;
        overflow: hidden;
        box-shadow:0 0 10px #101010;
        transition: height 0.3s;
    }

    .main-nav a {
        display: block;
        padding: 30px 15px;
        font-size: 14px;
        text-decoration: none;
        height: 100%;
        -webkit-transition: color 0.3s;
        transition: color 0.2s ease, padding 0.3s;
    }

    .main-nav a:hover {
        color: #24acb6;
        -webkit-transition: color 0.3s;
        transition: color 0.3s ease;
    }

    .inline-nav-container {
        padding-top: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .inline-nav-container ul {
        list-style: none;
    }

    .inline-nav-container ul li {
        display: inline-block;
    }

    .inline-nav-container ul li a {
        display: inline-block;
    }

    .left-nav {
        display: inline-block;
        width: 32%;
        text-align: left;
    }

    .right-nav {
        display: inline-block;
        text-align: right;
    }

    .center-nav {
        display: inline-block;
        width: 32%;
        text-align: center;
    }

    /* ------------------------------------- */
    /* LANDING PAGE */
    /* ------------------------------------- */

    .landing-page {
        padding-top: 250px;
        height: 100%;
        width: 100%;
        display: table;
    }

    .landing-page p {
        line-height: 1.2em;
    }

    /* ------------------------------------- */
    /* ABOUT PAGE */
    /* ------------------------------------- */

    .about-page {
        margin-top: 0;
    }

    .about-page a {
        color: #24acb6;
        transition: color 0.3s;
    }

    .about-page a:hover {
        color: #3479a7;
        transition: color 0.3s;
    }

    .about-container {
        padding: 80px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 40px;
    }

    .about-container p {
        font-size: 16px;
        line-height: 1.2em;
    }

    /* ------------------------------------- */
    /* TECH PAGE */
    /* ------------------------------------- */

    .tech-page {
        margin-top: 0;
    }

    .tech-container {
        padding: 80px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 40px;
    }

    .tech-container p {
        font-size: 16px;
        line-height: 1.2em;
    }

    .tech-items hr {
        display: block;
        width: 25%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .tech-item {
        padding: 20px;
        position: relative;
        transition: padding 0.3s, color 0.3s;
    }

    .tech-item:hover {
        padding: 10px;
        transition: padding 0.4s;
    }

    .tech-item:hover > i {
        color: #24acb6;
        transition: color 0.2s;
    }

    /* ------------------------------------- */
    /* PROJECTS PAGE */
    /* ------------------------------------- */

    .projects-container {
        padding: 80px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 40px;
    }

    .project-item {
        width: 50%;
        height: 300px;
        margin-top: 20px;
        border: 1px solid rgba(255, 255, 255, 0.466);
        filter: grayscale(50%);  
    }

    .project-item img {
        background-size: cover; 
    }

    .project-sidebar {
        width: 50%;
    }

    #item-img-1, #item-img-2, #item-img-3 {
        filter: grayscale(25%) brightness(100%);
    }
    
    .item-1, .item-2, .item-3, .item-4 {
        overflow: hidden;
        transition: filter 0.3s;
    }

    .item-1:hover > #item-img-1 {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: grayscale(12%);
        transition: filter 0.3s, transform 0.3s;
    } 

    .item-2:hover > #item-img-2 {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: grayscale(12%);
        transition: filter 0.3s, transform 0.3s;
    } 

    .item-3:hover > #item-img-3 {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: grayscale(12%);
        transition: filter 0.3s, transform 0.3s;
    }

    /* ------------------------------------- */
    /* CONTACT PAGE */
    /* ------------------------------------- */
    
    .contact-page {
        height: 400px;
        background-color: black;
    }

    .contact-container {
        padding: 80px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 40px;
    }


}
