/* Color Palette
Background: -
Text: -
Light Relative: #24acb6
Base Color: -
Dark Relative: -
*/

/* ------------------------------------- */
/* Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    background-color: #084857;
    font-family: 'Open Sans', sans-serif;
    background: url("https://static.pexels.com/photos/37724/pexels-photo-37724.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #252525;
}

body {
    height: 100%;
}

/* HEADER FONT */
@font-face {
    font-family: 'HeaderFont'; /*a name to be used later*/
    src: url('fonts/aileron.black.otf'); /*URL to font*/
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
}

header {
    padding-top: 150px;
}

header h1 {
    font-family: "HeaderFont";
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.54);
    font-size: 36px;
    color: #E3E3E3;
    text-align: center;
    padding-bottom: 50px;
}

footer {
    height: 100px;
    width: 100%;
    overflow:hidden;
    background-color: rgba(13, 22, 32, 1);
    box-shadow:0 0 10px #101010;
}

footer p {
    margin-top: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 12px;
}

footer p a {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer p a:hover {
    transition: color 0.3s ease;
    color: #24acb6;
}

a:-webkit-any-link {
    text-decoration: none;
}

.main-nav {
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    height: 50px;
    margin-bottom: 50px;
}

.main-nav a {
    font-weight: bold;  
    color: rgb(255, 255, 255);
    padding: 13px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.icon-group {
    text-align: center;
    padding-top: 20px;
}

.icon {
    padding: 5px;
}

.icon i {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    transition: color 0.2s ease;
}

.icon i:hover {
    transition: color 0.3s ease;
    color: #1d868d;
}

/* ------------------------------------- */
/* LANDING PAGE */
/* ------------------------------------- */

.landing-page p {
    padding: 30px;
    font-size: 14px;
}

.landing-page h2 {
    text-align: center;
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.header-btn {
    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.5s ease;
    margin-bottom: 50px;
}

.header-btn:hover {
    cursor: pointer;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease, border 0.3s ease, color 0.5s ease;
}

/*.fa-arrow-down {
    position: relative;
    left: 10px;
}*/

#main-circle {
    color: #131313;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    margin-top: 30%;
    transition: color 0.3s, font-size 0.2s, margin-top 0.2s;
}

.circle {
    margin: 0 auto;
	width: 80px;
	height: 80px;
    background: rgb(255, 255, 255);
    border: 3px solid white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    transition: background 0.3s;
}

.circle:hover {
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s;
    cursor: pointer;
}

.circle:hover > #main-circle {
    color: rgb(255, 255, 255);
    font-size: 38px;
    margin-top: 25%;
    transition: color 0.3s, font-size 0.2s, margin-top 0.2s;
}


/* ------------------------------------- */
/* ABOUT PAGE */
/* ------------------------------------- */

.about-page {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 0 10px #101010;
    margin-top: 250px;
}

.about-page p {
    font-size: 14px;
    padding-bottom: 10px;
}

.about-page h2 {
    font-size: 22px;
    padding-bottom: 2px;
    color: white;
}

.about-page a {
    color: #24acb6;
}

.sub-line {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 1px;
    width: 100px;
    color: white;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255,255,255, 1) 90%);
}

.about-container {
    width: 100%;
    height: 600px;
    padding: 40px;
    background-color: rgba(13, 22, 32, 1);
}

/* ------------------------------------- */
/* TECH PAGE */
/* ------------------------------------- */

.tech-page {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 0 10px #101010;
}

.tech-page p {
    font-size: 14px;
    padding-bottom: 35px;
    color: rgb(26, 33, 49);
}

.tech-page h2 {
    font-size: 22px;
    padding-bottom: 2px;
    color: rgb(26, 33, 49);
}

.tech-page .sub-line {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 1px;
    width: 158px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
}

.tech-container {
    width: 100%;
    height: 600px;
    padding: 40px;
    background-color: rgb(219, 219, 219);
}

.tech-item {
    text-align: center;
    padding-bottom: 10px;
}

.tech-items i {
    color: rgba(13, 22, 32, 1);
    font-size: 85px;
}

.tech-items p {
    text-align: center;
    font-weight: bold;
}

/* ------------------------------------- */
/* PROJECTS PAGE */
/* ------------------------------------- */

.projects-page {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 0 10px #101010;
}

.projects-page p {
    font-size: 14px;
    padding-bottom: 10px;
}

.projects-page h2 {
    font-size: 22px;
    padding-bottom: 2px;
    color: white;
}

.projects-container {
    width: 100%;
    height: 600px;
    padding: 40px;
    background-color: rgba(13, 22, 32, 1);
}

/* ------------------------------------- */
/* CONTACT PAGE */
/* ------------------------------------- */

.contact-page {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    box-shadow:0 0 10px #101010;
}

.contact-page p {
    font-size: 14px;
    padding-bottom: 10px;
}

.contact-page h2 {
    font-size: 22px;
    padding-bottom: 2px;
    color: white;
}

.contact-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgb(219, 219, 219);
}


/* ------------------------------------- */
/* ANIMATION */
/* ------------------------------------- */

.main-nav.down {
    height: 50px;
    transition: height 0.3s;
}

.main-nav a.text-down {
    padding: 17px 10px;
    transition: padding 0.3s, color 0.3s ease;
}

/* ------------------------------------- */
/* Media Queries */
/* ------------------------------------- */

/*iPhone portrait*/
@media only screen and (min-width: 320px) {
}


/*iPhone landscape*/
@media only screen and (min-width: 480px) {

}


/*ipad potrait*/
@media only screen and (min-width: 768px) {

}

/*ipad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    html {
        position: relative;
        min-height: 100%;
        background-color: #084857;
        font-family: 'Open Sans', sans-serif;
        background-image: -webkit-linear-gradient(left, 
        rgba(0,0,0,0.2) 0%, 
        rgba(0,0,0,0) 50%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0,0,0,0.2) 100%),
         url("https://static.pexels.com/photos/37724/pexels-photo-37724.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-color: #252525;
    }

    footer {
        display: block;
        height: 100px;
        width: 100%;
        overflow:hidden;
        background-color: rgba(13, 22, 32, 1);
        box-shadow:0 0 10px #101010;
    }

    header {
        padding-top: 0px;
    }
    
    header h1 {
        text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.54);
        font-size: 54px;
        color: #E3E3E3;
        text-align: center;
    }
    
    .main-nav {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        height: 80px;
        overflow: hidden;
        box-shadow:0 0 10px #101010;
        transition: height 0.3s;
    }

    .main-nav a {
        display: block;
        padding: 30px 15px;
        font-size: 14px;
        text-decoration: none;
        height: 100%;
        -webkit-transition: color 0.3s;
        transition: color 0.2s ease, padding 0.3s;
    }

    .main-nav a:hover {
        color: #24acb6;
        -webkit-transition: color 0.3s;
        transition: color 0.3s ease;
    }

    .inline-nav-container {
        padding-top: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .inline-nav-container ul {
        list-style: none;
    }

    .inline-nav-container ul li {
        display: inline-block;
    }

    .inline-nav-container ul li a {
        display: inline-block;
    }

    .left-nav {
        display: inline-block;
        width: 32%;
        text-align: left;
    }

    .right-nav {
        display: inline-block;
        text-align: right;
    }

    .center-nav {
        display: inline-block;
        width: 32%;
        text-align: center;
    }

    /* ------------------------------------- */
    /* LANDING PAGE */
    /* ------------------------------------- */

    .landing-page {
        height: 100%;
        width: 100%;
        display: table;
    }

    .landing-page h1 {
        padding-top: 250px;
    }

    .landing-page p {
        line-height: 1.4;
    }

    /* ------------------------------------- */
    /* ABOUT PAGE */
    /* ------------------------------------- */

    .about-page {
        margin-top: 0;
    }

    .about-page a {
        color: #24acb6;
        transition: color 0.3s;
    }

    .about-page a:hover {
        color: #3479a7;
        transition: color 0.3s;
    }

    .about-container {
        padding: 80px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .about-container p {
        font-size: 16px;
        line-height: 1.4em;
    }

    /* ------------------------------------- */
    /* TECH PAGE */
    /* ------------------------------------- */

    .tech-page {
        margin-top: 0;
    }

    .tech-container {
        padding: 80px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .tech-container p {
        font-size: 16px;
        line-height: 1.4em;
    }

    .tech-items hr {
        display: block;
        width: 25%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .tech-item {
        padding: 20px;
        position: relative;
        transition: padding 0.3s;
    }

    .tech-item:hover {
        color: white;
        padding: 10px;
        transition: padding 0.4s;
    }


    /* ------------------------------------- */
    /* CONTACT PAGE */
    /* ------------------------------------- */
    .contact-page {
        height: 200px;
        background-color: black;
    }

}
